.canIconStack{
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.canIconStack strong{
  padding-right:.1em; 
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.canIconStackGroup{
  color:#332C2F;
  -webkit-transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

.canIconStackGroup:hover{
  color:#fff;
}